<h2>
    {{helpCtrl.title}}
</h2>

<div class="panel">
    <div class="header">
        <div class="title clear">
            <i class="fa fa-4x fa-heart"></i>
            <div class="message">
                <strong class="count"> 126 </strong>
                <div class="desc"> New Tasks! </div>
            </div>
        </div>
        <div class="new">
            <input placeholder="New task" />
            <button>Add</button>
        </div>
    </div>
    <div class="body">
        <ul class="task-list">
            <li>
                <input type="checkbox" checked="checked" />
                <label> Complete POC </label>
            </li>
            <li class="select">
                <input type="checkbox" checked="checked" />
                <label> Give demo to Subhash on Monday Give demo to Subhash on Monday Monday Give demo to Subhash on Mon</label>
                <ul class="options clear">
                    <li> <button> <i class="fa fa-trash"/> </button> </li>
                    <li> <button> <i class="fa fa-star"/> </button> </li>
                </ul>
            </li>
        </ul>
    </div>
</div>